
/*Video disp:
coloré  src="https://www.youtube.com/embed/wyxxPTFfdi8?autoplay=1&mute=1&loop=1&playlist=wyxxPTFfdi8&controls=0&modestbranding=1&rel=0"
          frameborder="0"*/

html{
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #382213;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.4em;
}

body {
    margin:0;
    padding: 0;
    font-family: Kameron;
    color: #382213;
    background-color: #cfe1b9;

}

/*NAV*/
nav {
    display: flex;
    font-family: Chango;
    align-content: center;
    justify-content: space-between;
    background-color: white;
    padding: 5px 4%;
    position: sticky;
    top:0; 
    width: 90.9vw;
    z-index: 50;
}

nav h2{
    margin: 0%;
    padding: 0%;
    font-size: 1.7em;
}

nav img{
    height:50px;
    width:60px;
}

#DocEtTel p{
    font-family:Kameron;
    font-size: 1.3em;
    padding: 6px;
    margin: 0;
}

#DocEtTel, #logoNom{
    display: flex;
    gap:10px;
    align-items: center;
}  

button{
    background-color: #382213;
    width: auto;
    height: auto;
    border: 0;
    border-radius: 20px;
}

button p{
    color:beige;
    font-size: 1.4em;
    padding: 10px;
    margin: 0%;
}

button a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
}

a img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}


/*HERO*/
header {
  position: relative;
  height: 94vh;
  overflow: hidden;
}

header h1{
    font-family: Chango;
    font-size: 4em;
    margin-bottom: 0;
}

header h2{
    margin-top: 0;
    font-size: 1.4em;
}

#NameSlogant{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content{
  padding: 0;
  display: flex;
  position: relative;
  z-index: 1;
  margin: 0%;
  color: #382213;
  text-align: center;
  top: 5%;
  left:10%;
  gap: 150px;;
}


#HeroPhone{
    height: 80vh;
    width: auto;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.video-container iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200vw;
  height: 200vh;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#buttons{
    display: flex;
    gap: 30px;
}


/*section contexte*/
#contexte{
    display: flex;
    padding: 50px;
    padding-bottom: 100px;
    padding-top: 100px;
    text-transform: uppercase;
    background: linear-gradient(
    180deg,
    #fdf5ee 0%,
    #f8e5d5 100%);
    gap: 3%;
}

.textimportant {
    color:green;
    margin: 0;
    font-size: xxx-large;
}

.ligne {
  width: 60%;
  height: 1px;  
  background: black;
  margin: 80px auto;
}

#textgauche{
    display: flex;
    align-items: center;
    font-size: 195%;
}

#textdroite{
    display: flex;
    flex-direction: column;
    font-size: 160%;
}


/*Ia*/
#IAs, .card, #IAs .totalcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}    
.card{
    padding: 50px;
    height:50vh;
    max-height:70vh;
        background-color:#ffffff8c;
    height: 110vh;
}


#IAs h3{
   margin: 0%;
    margin-bottom: 80px;
}

#IAs h2{
    margin-bottom: 0px;
    font-weight: lighter;
    font-family: Chango;
}
#card-container{
    display: flex;
    gap:150px;
}

.card{
        border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    max-height: 60vh;
}

.charlie img{
    animation: rotateZen1 60s linear infinite;
    will-change: transform;
}

.iris img{
    animation: rotateZen2 60s linear infinite;
    will-change: transform; 
}
.card img{
    height: 220px;
    border-radius: 500px;
    margin-bottom: 20px;
}

.card h3{
    font-family: Chango;
    text-align: center;
}

.card p{
    font-size: 1.5em;
}

@keyframes rotateZen1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateZen2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


/*Fonctionnalitées*/
#Fonctionnalitées{
    height: 220vh;
    background: linear-gradient(
     180deg,
     #f8e5d5 0%,
     #e8e6c8 100%);
    padding:50px;
    padding-top: 100px;
    gap: 100px;
}

#Fonctionnalitées h2{
    text-align: center;
    font-family: Chango;
}

#Fonctionnalitées div{
    background-color:rgba(255, 255, 255, 0.575);
    padding: 20px;
    border-radius: 30px;
    width: 60vw ;
    height: 26vh; /* ou la hauteur que tu veux */
    gap: 100px;
    margin-top: 220px;
}

#Fonctionnalitées h3{
    border-radius: 30px;
    padding:20px 30px;
    font-weight: bolder;
    font-size: 1.7em;
    margin: 20px;
}


.right {
    justify-self: right;
    display: flex;
    justify-content: center;
}

.left {
    
    justify-self: left;
    display: flex;
    justify-content: center;
}


#Fonctionnalitées img{
    width: 200px;
    height: 400px;
}

.ensemble{
    display: flex;
    align-items: center;
}

/*Témoignages*/

#Témoignages h2 {
  width: 100%;
  margin-top: 0;
  text-align: center;
  font-family: Chango;
  padding-bottom: 40px;
}

.ia {
  position: absolute;
  z-index: 0;
  border-radius: 500px;
}

.Iris{
  left: 15%;
  height: 300px;
  width:300px;
   animation: rotateZen2 60s linear infinite;
    will-change: transform;
}

.Charlie{
    height: 400px;
    width:400px;
    left: 50%;
    z-index:1;
         animation: rotateZen3 60s linear infinite;
}

@keyframes rotateZen3 {
  from {
    transform: translateY(-80%) rotate(0deg);
  }
  to {
    transform: translateY(-80%) rotate(360deg);
  }
}


#Témoignages{
    height: 40vh;
       background: linear-gradient(
    180deg,
    #e8e6c8 0%,
    #cfe1b9 100%);
    padding-top: 100px;
}
.carousel {
  position: relative;
  max-width: 600px;
  margin: auto;
  text-align: center;
  overflow: hidden;
  z-index: 5;
}

.slide {
  display: none;
  padding: 30px;
  font-weight: bold;
  background: #fffcf9;
  border-radius: 10px;
  margin: 20px 0;
}

.slide.active {
  display: block;
}

.stars {
  color: #ffe346;
  font-size: 30px;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-10%);
  background:#382213;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}   

.pdp{
    height: 120px;
    width: 120px;
    border-radius: 300px;
}
/*Download*/
#Download{
    height: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 500px;
    margin-bottom: 30px;
    gap: 50px;
}

#Download img{
    height: 85vh;
    width: auto;
}

#Download .ACHETE{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding:30px;
    background-color: #ffffff81;
    border-radius: 20px;
}

.ACHETE div{
    display: flex;
    gap: 10px;
}

#Download p{
    font-size: 1.3em;
}


#Download button{
    padding:10px;
    font-size: 1.2em; 
    color:white;
}

#Download .achetemoi{
    width: 150px;
    height: 50px;
}
/*Footer*/
footer{
    padding: 8px;
    background-color: #c0d3a8;
}

footer h1{
    font-family: Chango;
}

footer p{
    margin: 0%;
    padding: 0%;
    font-size: larger;
}

footer img{
    height:40px;
    width:50px;
}

.logo {
    display: flex;
    align-items: center;
}

.imageFooter{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

button{
        transition: 
        transform 0.5s ease,
        box-shadow 0.5s ease;
}

button:hover{
    transform: scale(1.03);
    box-shadow: 0 20px 50px rgba(60, 90, 70, 0.12);
}
