a {
    text-decoration: none;
    color: #382213;
}

body {
    margin:0;
    padding: 0;
    font-family: Kameron;
    color: #382213;
}

/*NAV*/
nav{
    display:flex;
    font-family: Chango;
    align-content: center;
    justify-content: space-between;
    background-color: beige;
    padding: 5px;
}

nav h2{
    margin: 0%;
    padding: 0%;
    font-size: 1.7em;
}

nav img{
    height:50px;
    width:60px;
}

#DocEtTel p{
    font-family:Kameron;
    font-size: 1.3em;
    padding: 6px;
    margin: 0;
}

#DocEtTel, #logoNom{
    display: flex;
    gap:10px;
    align-items: center;
}  

button{
    background-color: #382213;
    width: auto;
    height: auto;
    border: 0;
    border-radius: 20px;
}

a img{
    height: 20px;
    width: 20px;
}

button p{
    color:beige;
}


/*HERO*/
header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#NameSlogant{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content{
  padding: 0;
  display: flex;
  position: relative;
  z-index: 1;
  color: #382213;
  text-align: center;
  top: 15%;
  left:10%;
  gap:200px;
}


.content img{
    height: 80vh;
    width: auto;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  z-index: -1;
}

.video-container iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120vw;
  height: 140vh;
  transform: translate(-50%, -50%);
  pointer-events: none;
}


/*section contexte*/



.textimportant {
    text-decoration: green;
}